<html>
	<head>
    <title>File Upload</title>
    <form name="form1" method="post" action="./submit">

      <p>名前<input type="text" name="name"></p>
      <p>コード<input type="text" name="code"></p>

      <input type="submit" name="submit" value="送信">
    </form>

	</head>
</html>